@*Ajax JQuary for Load Data into DataBase*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<br />






<div style="height: 200px; width: 300px; background-color: #99FF99; position: relative; top: 14px; left: 16px;">
    <br />
    @Html.Label("Province:")
    <select id="dropdown_province" name="dropdown_province">
        <option value="Select">Please Select a Province</option>
        <option value="Alborz">Alborz</option>
        <option value="Ardebil">Ardebil</option>
        <option value="Bushehr">Bushehr</option>
        <option value="Chahar Mahal Va Bakhtiari">Chahar Mahal Va Bakhtiari</option>
        <option value="East Azarbaijan">East Azarbaijan</option>
        <option value="Esfahan">Esfahan</option>
        <option value="Fars">Fars</option>
        <option value="Gilan">Gilan</option>
        <option value="Golestan">Golestan</option>
        <option value="Hamedan">Hamedan</option>
        <option value="Hormozgan">Hormozgan</option>
        <option value="Ilam">Ilam</option>
        <option value="Kerman">Kerman</option>
        <option value="Kermanshah">Kermanshah</option>
        <option value="Khorasan Razavi">Khorasan Razavi</option>
        <option value="Khuzestan">Khuzestan</option>
        <option value="Kohgiluyeh Va Boyer Ahmad">Kohgiluyeh Va Boyer Ahmad</option>
        <option value="Kordestan">Kordestan</option>
        <option value="Lorestan">Lorestan</option>
        <option value="Markazi">Markazi</option>
        <option value="Mazandaran">Mazandaran</option>
        <option value="North Khorasan">North Khorasan</option>
        <option value="Qazvin">Qazvin</option>
        <option value="Qom">Qom</option>
        <option value="Semnan">Semnan</option>
        <option value="Sistan Va Baluchestan">Sistan Va Baluchestan</option>
        <option value="South Khorasan">South Khorasan</option>
        <option value="Tehran">Tehran</option>
        <option value="West Azarbaijan">West Azarbaijan</option>
        <option value="Yazd">Yazd</option>
        <option value="Zanjan">Zanjan</option>
    </select>
    <br />
    <br />

    @Html.Label("Technology:")
    <select id="dropdown_technology" name="dropdown_technology">
        <option value="Select">Please Select a Technology</option>
        <option value="2G">2G</option>
        <option value="3G">3G</option>
        <option value="4G">4G</option>
    </select>
    <br />
    <br />

    @Html.Label("KPI:")
    <select id="dropdown_kpi" name="dropdown_kpi">
        <option value="Select">Please Select a KPI</option>
    </select>
    <br />
    <br />
    @Html.Label("Traffic:")
    <select id="dropdown_traffic" name="dropdown_traffic">
        <option value="Select">Please Select the Traffic</option>
        <option value="Voice">Voice</option>
        <option value="Data">Data</option>
    </select>

</div>








@{
            Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>

</head>
<body>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>












