
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WPC_KPI</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<br />
<script>

    function upload() {

        if ($("#fileID").val() == '') {
            alert('Please select a file.');
            return false;
        }
        $("#txtName").val("");

        var formData = new FormData();
        var file = document.getElementById("fileID").files[0];
        formData.append("MyFile", file);

        $.ajax({
            type: "POST",
            url: 'Index_Post',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            cache: false,
            success: function (response) {
                var myhtml = '';
                if (response.success) {
                    $("#txtName").val("KPI is uploaded");
                    myhtml = '<div class="alert alert-success">' + response.responseMessage + '</div>';
                }
                else {
                    myhtml = '<div class="alert alert-danger">' + response.responseMessage + '</div>';
                }
                $("#myAlert").html(myhtml);
                $("#myAlert").fadeIn(500).delay(3000).fadeOut(500);
            },
            error: function (error) {
                $("#myAlert").html('<div class="alert alert-danger">' + error + '</div>');
            }
        });
    };



</script>


@Html.TextBox("fileID", "", new { type = "file" })
<br />


<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <input type="submit" onclick="upload()" class="btn btn-secondary" value="Upload KPI" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
        <input type="text" id="txtName" />
    </div>
</div>


<br />